@model IEnumerable<MotoristaViewModel>
@{
	ViewData["Title"] = "Lista de Motoristas";
}

<h1>@ViewData["Title"]</h1>

<link href="~/css/local/Motorista.css" rel="stylesheet" />

<p class="ajusteDivCreate">
	<a class="fa-pull-right btn btn-outline-primary fa fa-plus" asp-action="Create"> Novo</a>
</p>


<table class="table table-hover table-striped">
	<thead class="table-dark">
		<tr>
			<th class="colNome">@Html.DisplayNameFor(model => model.Nome)</th>
			<th class="colCPF">@Html.DisplayNameFor(model => model.CPF)</th>
			<th class="colNumeroCNH">@Html.DisplayNameFor(model => model.NumeroCNH)</th>
			<th class="colCategoriaCNH">@Html.DisplayNameFor(model => model.CategoriaCNH)</th>
			<th class="colDataNascimento">@Html.DisplayNameFor(model => model.DataNascimento)</th>
			<th class="colStatus">@Html.DisplayNameFor(model => model.CodStatus)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model?.Count() > 0)
		{
			foreach (var item in Model)
			{
				<tr>
					@{
						var status = (item.CodStatus == 1 ? "Ativo" : "Inativo");
						var date = string.Format("{0:dd/MM/yyyy}", item.DataNascimento);
					}
					<td>@Html.DisplayTextFor(modelItem => item.Nome)</td>
					<td>@Html.DisplayTextFor(modelItem => item.CPF)</td>
					<td>@Html.DisplayTextFor(modelItem => item.NumeroCNH)</td>
					<td>@Html.DisplayTextFor(modelItem => item.CategoriaCNH)</td>
					<td>@Html.DisplayTextFor(modelItem => date)</td>
					<td>@Html.DisplayTextFor(modelItem => status)</td>
					<td class="text-right">
						<a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id" title="Visualizar"><span class="fa fa-search"></span></a>
						<a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id" title="Editar"><span class="fa fa-pencil-alt"></span></a>
						<a id="deleteItem" class="deleteItem btn btn-danger" data-bs-target="#basicModal" data-bs-toggle="modal" data-path="@Url.Action("Delete", "Motorista", new { id = item.Id })" title="Deletar"><span class="fa fa-trash" /></a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="6" class="text-center">
					<span><strong style="color: red">Sem dados</strong></span>
				</td>

			</tr>
		}
	</tbody>
</table>

<partial name="../Shared/_Delete" />

@section Scripts {
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/local/deleteItemScript.js"></script>
}